/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Laila&family=Playfair+Display&display=swap');

/* universal selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F4F3;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    font-family: 'playfair display', cursive;
}

header {
    position: relative;
    top: 0;
    left: 0;
}

/* start page which appears when the user first loads the page */
.start-game-visible {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F4F3;
    opacity: 1;
}

#start-game h1 {
    font-family: 'laila', sans-serif;
    font-size: 6em;
    color: #4D3B32;
    text-align: center;
    margin: 6vh 0;
}

#how-to-play h2 {
    font-size: 2em;
    color: #4D3B32;
    text-align: center;
    background: #D5BDA9;
    border-radius: 25px;
    margin: 2vh 30%;
    padding: 10px 5px;
    border: 1px solid #4D3B32;
}

/* instructions that show when the #how-to-play h2 is clicked */
.instructions-visable {
    visibility: visible;
    height: 65%;
    width: 85%;
    text-align: center;
    padding: 20px 10px;
    margin: 0 7.5%;
    color: #4D3B32;
    background: #BA9D8C;
    color: #4D3B32;
    border-radius: 25px;
}

#start-game-paragraph {
    font-size: 3em;
    color: #4D3B32;
    margin: 2vh auto;
    width: 80%;
    text-align: center;
}

#instructions-paragraph {
    font-size: 1.5em;
}

#start-form {
    display: flex;
    justify-content: center;
}

#enter-name {
    font-family: 'laila', sans-serif;
    height: 7vh;
    width: 50%;
    border-radius: 25px;
    font-size: 2em;
    margin: 2vh 2vw;
    text-align: center;
    background: #F6F4F3;
}

#start-button {
    height: 7vh;
    width: 30%;
    border-radius: 25px;
    font-family: 'laila', sans-serif;
    font-size: 2em;
    padding: 0 5vw;
    margin: 2vh 2vw;
    text-align: center;
    color: #4D3B32;
    background: #D5BDA9;
    border: 1px solid #4D3B32;
}

input:active,
input:-moz-focusring {
    border: 1px solid #4D3B32;
    outline: 1px solid #4D3B32;
}

input:-moz-focusring {
    border: 1px solid #4D3B32;
}

/* class to hide elements through JavaScript */
.hidden {
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    display: none;
}

/* main page */
#title {
    font-family: 'laila', sans-serif;
    font-size: 6em;
    color: #4D3B32;
    text-align: center;
}

/* section with audio button and difficulty selector */
#audio-difficulty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#select-difficulty-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

fa #select-difficulty-div label {
    font-size: 2em;
    color: #4D3B32;
}

#select-difficulty {
    height: fit-content;
    font-size: 2em;
    color: #4D3B32;
    text-align: center;
    background: #D5BDA9;
    border-radius: 25px;
    margin-left: 2vw;
    padding: 7px;
    align-items: center;
    border: 2px solid #4D3B32;
}

#select-difficulty:hover {
    background: #4D3B32;
    color: #D5BDA9;
}

.audio-choice-show {
    height: 8vh;
    width: 8vh;
    background: #BA9D8C;
    border: 1px solid #312C2D;
    color: #312C2D;
    border-radius: 5px;
    margin-right: 10vw;
}

/* image on audio button */
.fa-solid {
    height: 8vh;
    width: 8vh;
    font-size: 4vh;
    color: #4D3B32;
    text-align: center;
    /* to centre vertically */
    margin: 25% auto;
}

/* card playing area */
#game-container-outer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 50vh;
    background: #D5BDA9;
    border-radius: 25px;
    margin: 2vh auto;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 10vh);
    grid-template-rows: repeat(4, 10vh);
    grid-gap: 2vh;
    margin-top: 2vh;
    perspective: 600px;
}

.card {
    border: 2px solid #312C2D;
    border-radius: 10px;
    position: relative;
    background: #d5bda9;
    color: #312C2D;
    font-size: 6vh;
    padding: 25% 0;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.cardBack,
.cardFront {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    /* To disable click on the child div and image of card div */
    pointer-events: none;
}

.cardBack {
    background: #BA9D8C;
    backface-visibility: hidden;
    text-align: center;
}

.cardFront {
    background: #F6F4F3;
    padding: 5%;
    opacity: 1;
}

.toggleCard {
    transform: rotateY(180deg);
    animation: font-fade 1s forwards;
}

@keyframes font-fade {
    25% {
        color: rgb(77, 59, 50, 0.1);
    }

    100% {
        color: rgb(77, 59, 50, 0);
    }
}

.flipCard {
    pointer-events: none;
}

/* section with time countdown, restart button and number of flips counter */
#game-info {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    text-align: center;
    align-items: center;
    margin-top: 2vh;
}

#game-info h2 {
    font-size: 4em;
    color: #4D3B32;
}

#game-info button {
    height: 7vh;
    text-align: center;
    font-size: 2em;
    color: #4D3B32;
    background: #D5BDA9;
    border: 2px solid #4D3B32;
    margin: 2vh 0;
    padding: 0 1vw;
    border-radius: 25px;
}

/* animation so the bear images wiggle when the user has matched them all */
.won-game-bears {
    animation: wiggle 1s infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* end game to appear when user either wins or loses */
#end-game-paragraph {
    font-size: 5em;
    color: #4D3B32;
    text-align: center;
}

#charity-paragraph {
    font-size: 4em;
    color: #4D3B32;
    text-align: center;
}

#charity-link {
    height: 12vh;
    width: 40%;
    background: #BA9D8C;
    text-align: center;
    margin: 4vh auto;
    padding-top: 2.5vh;
    border: 2px solid #312C2D;
    border-radius: 25px;
}

#charity-link a {
    text-decoration: none;
    color: #312C2D;
    font-size: 4em;
}

#charity-link:hover {
    transform: scale(1.2);
    transition: transform 2s ease;
}

/* restarts the game and hides the end game div */
.end-game-show button {
    height: 10vh;
    width: 50%;
    text-align: center;
    font-size: 5vh;
    color: #4D3B32;
    background: #D5BDA9;
    border: 2px solid #4D3B32;
    margin: 5vh 25%;
    border-radius: 25px;
    pointer-events: all;
}

/* To make the end game div appear slowly */
.end-game-show {
    visibility: visible;
    height: 100%;
    width: 100%;
    font-size: 0.5rem;
    padding: 0px 15vw;
    position: absolute;
    top: 0;
    padding-top: 10vh;
    background: #F6F4F3;
    animation: end-grow 2s forwards;
}

@keyframes end-grow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* so all buttons type elements change colour on hover */
#how-to-play-title:hover,
#start-button:hover,
#restart-game:hover,
#end-game-restart:hover {
    transition: all .3s ease;
    background: #4D3B32;
    color: #D5BDA9;
    border: 1px solid #D5BDA9;
}

/* 404.html page */
#nav-error {
    height: auto;
    margin-top: 10vh;
}

#nav-error h2 {
    font-size: 500%;
    text-align: center;
    color: #4D3B32;
}

#nav-error p {
    color: #4D3B32;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

#nav-error-paragraph {
    font-size: 150%;
    margin-bottom: 50px;
}

#return-to-home-outer {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 8vh;
}

#return-to-home {
    height: 50px;
    width: 50%;
    border: 1px solid #4D3B32;
    border-radius: 999px;
    font-size: 100%;
    background-color: #D5BDA9;
    color: #4D3B32;
}

/* media queries */

/* for screens less than 1140px */
@media (max-width: 1140px) {
    #game-info h2 {
        font-size: 3em;
    }

    #start-game h1 {
        margin: 4vh 0;
    }

    .end-game-show button {
        height: 8vh;
        font-size: 4vh;
        width: 60%;
        margin: 5vh 20%;
    }

    #charity-link {
        padding-top: 2vh;
    }
}

/* for screens less than 914px */
@media (max-width: 914px) {
    #charity-link {
        height: 8vh;
        width: 60%;
        padding-top: 1vh;
    }
}

/* for screens less than 840px */
@media (max-width: 840px) {

    #start-game h1,
    #title {
        font-size: 4em;
    }

    #enter-name,
    #start-button,
    #game-info button {
        font-size: 1.5em;
    }

    #game-info h2 {
        font-size: 2em;
    }

    #select-difficulty {
        padding: 5px;
    }

    #charity-link a {
        font-size: 3vh;
    }
}

/* for screens less than 700px */
@media (max-width: 700px) {

    #select-difficulty-div label,
    #select-difficulty {
        font-size: 1.5em;
    }

    #end-game-paragraph {
        font-size: 3em;
    }

    #charity-paragraph {
        font-size: 2.5em
    }
}

/* for screens less than 600px */
@media (max-width: 600px) {
    #start-game h1 {
        font-size: 3em;
        margin-bottom: 2vh;
    }

    #title {
        font-size: 3em;
    }

    #how-to-play h2 {
        font-size: 1.5em;
    }

    #start-game-paragraph {
        font-size: 2em;
    }

    #instructions-paragraph {
        height: 25vh;
        font-size: 1em;
    }

    #enter-name,
    #start-button,
    #game-info button {
        font-size: 1em;
    }

    #select-difficulty {
        font-size: 1em;
        padding: 3px;
    }

    #select-difficulty-div label {
        font-size: 1em;
    }

    #game-info button {
        height: 5vh;
    }

    #game-container-outer {
        height: 39.5vh;
        width: 39.5vh;
    }

    #game-container {
        grid-template-columns: repeat(4, 8vh);
        grid-template-rows: repeat(4, 8vh);
        grid-gap: 1.5vh;
        margin: 1.5vh;
    }

    .card {
        font-size: 6vh;
    }

    #game-info h2 {
        font-size: 1.5em;
    }

    .audio-choice-show {
        height: 6vh;
        width: 6vh;
    }

    .fa-solid {
        height: 6vh;
        width: 6vh;
        font-size: 3vh;
    }

    #charity-link {
        width: 60%;
    }
}

/* for screens less than 455px */
@media (max-width: 455px) {
    #instructions-paragraph {
        height: 70%;
    }

    #game-info h2 {
        font-size: 1em;
    }

    #game-info button {
        font-size: 0.8em;
    }

    .end-game-show button {
        height: 8vh;
        font-size: 3vh;
        width: 80%;
        margin: 5vh 10%;
    }

    #charity-link {
        height: 6vh;
        width: 70%;
        padding-top: 1vh;
    }

    #charity-link a {
        font-size: 2em;
    }
}

/* for screens less than 355px */
@media (max-width: 355px) {

    #start-game h1,
    #title {
        font-size: 2em;
    }

    #how-to-play h2 {
        font-size: 1em;
    }

    #enter-name {
        font-size: 0.8em;
        height: 5vh;
    }

    #start-button {
        font-size: 0.7em;
        height: 5vh;
    }

    #start-game-paragraph {
        font-size: 1.5em;
    }

    #select-difficulty-div label {
        font-size: 1em;
    }

    #game-container-outer {
        height: 29vh;
        width: 29vh;
    }

    #game-container {
        grid-template-columns: repeat(4, 6vh);
        grid-template-rows: repeat(4, 6vh);
        grid-gap: 1vh;
        margin: 1vh;
    }

    .card {
        font-size: 4vh;
    }

    #game-info h2 {
        font-size: 1em;
    }

    .audio-choice-show {
        height: 5vh;
        width: 5vh;
    }

    .fa-solid {
        height: 5vh;
        width: 5vh;
        font-size: 2vh;
    }

    #end-game-paragraph {
        font-size: 2.5em;
    }
}