* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6F4F3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 7em;
    color: #4D3B32;
    text-align: center;
    margin-top: 6vh;
}

#game-start-info {
    display: -webkit-inline-box;
    /* justify-content: space-evenly; */
    width: 100%;
    margin-left: 29vw;
}

#how-to-play {
    width: 45%;
    height: 10vh;
    text-align: center;
}

#how-to-play h2 {
    font-size: 2em;
    color: #4D3B32;
    text-align: center;
    background: #D5BDA9;
    width: 50%;
    border-radius: 25px;
    margin: 2vh 20% 0px 20%;
    padding: 10px 5px;
    border: 2px solid #4D3B32;
}

#instructions {
    visibility: hidden;
    text-align: center;
    font-size: 1.5em;
    background: #BA9D8C;
    color: #4D3B32;
    border-radius: 25px;
    height: 0px;
    /* padding: 2vh; */
    /* z-index: 100; */
}

#how-to-play button {
    height: 0px;
    width: 20%;
    text-align: center;
    font-size: 1em;
    color: #4D3B32;
    background: #D5BDA9;
    border: 2px solid #4D3B32;
    margin-top: 2vh;
    border-radius: 25px;
}

#select-difficulty {
    font-size: 2em;
    color: #4D3B32;
    text-align: center;
    background: #D5BDA9;
    /* width: 50%; */
    border-radius: 25px;
    margin: 2vh 20% 0px 20%;
    padding: 10px 5px;
    border: 2px solid #4D3B32;
}

#game-container-outer {
    height: 44vh;
    background: #D5BDA9;
    border-radius: 25px;
    margin-top: 3vh;
    /* margin: 5vh; */
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 19vh);
    grid-template-rows: repeat(2, 19vh);
    grid-gap: 2vh;
    margin: 2vh;
    perspective: 600px;
}

.card {
    border: 2px solid #312C2D;
    border-radius: 25px;
    position: relative;
    background: #d5bda9;
    color: #312C2D;
    font-size: 15vh;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.cardBack,
.cardFront {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 25px;
    /* To disable click on the child div and image of card div */
    /* https: //stackoverflow.com/questions/28083708/how-to-disable-clicking-inside-div */
    pointer-events: none;
}

.cardBack {
    background: #BA9D8C;
    backface-visibility: hidden;
    text-align: center;
}

.cardFront {
    background: #F6F4F3;
    padding: 5%;
}

.toggleCard {
    transform: rotateY(180deg);
}

#game-info {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    /* width: 70%; */
    /* justify-content: space-around; */
    text-align: center;
    align-items: center;
    margin-top: 2vh;
}

#game-info h2 {
    font-size: 4em;
    color: #4D3B32;
    /* display: block; */
}

#game-info button {
    height: 7vh;
    /* width: 20vw; */
    text-align: center;
    font-size: 2em;
    color: #4D3B32;
    background: #D5BDA9;
    border: 2px solid #4D3B32;
    margin: 2vh 0;
    border-radius: 25px;
    /* pointer-events: all; */
}

.won-game-bears {
    animation: wiggle 1s infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#won-game {
    height: 100%;
    width: 100%;
    font-size: 0.5rem;
    padding: 0px 15vw;
    position: absolute;
    top: 10%;
    background: #F6F4F3;
    opacity: 0;
    pointer-events: none;
}

#won-game button {
    height: 10vh;
    width: 50%;
    text-align: center;
    font-size: 5vh;
    color: #4D3B32;
    background: #D5BDA9;
    border: 2px solid #4D3B32;
    margin: 5vh 25%;
    border-radius: 25px;
    pointer-events: all;
}

/* To make the congratulations screen appear slowly */
.won-game-show {
    animation: won-grow 2s forwards;
}

@keyframes won-grow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}