/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Laila&family=Playfair+Display&display=swap');

/* universal selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    background: #F6F4F3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'playfair display', cursive;
    overflow: hidden;
}

/* start page which appears when the user first loads the page */
.start-game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    background: #F6F4F3;
    opacity: 1;
}

#start-game-div-id h1 {
    font-family: 'laila', sans-serif;
    font-size: 6em;
    color: #4D3B32;
    text-align: center;
    margin: 6vh 0;
}

#how-to-play h2 {
    font-size: 2em;
    color: #4D3B32;
    text-align: center;
    background: #D5BDA9;
    border-radius: 25px;
    margin: 2vh 30%;
    padding: 10px 5px;
    border: 1px solid #4D3B32;
}

.instructions-hidden {
    visibility: hidden;
}

.instructions-visable {
    visibility: visible;
    height: 65%;
    width: 85%;
    text-align: center;
    padding: 20px 10px;
    margin: 0 7.5%;
    font-size: 1.5em;
    color: #4D3B32;
    background: #BA9D8C;
    color: #4D3B32;
    border-radius: 25px;
}

#start-game-div-id>p {
    font-size: 3em;
    color: #4D3B32;
    margin: 2vh 0;
    width: 80%;
    text-align: center;
}

#start-form {
    width: 60%;
    display: flex;
    justify-content: center;
}

#enter-name {
    height: 7vh;
    width: 50%;
    border-radius: 25px;
    font-size: 2em;
    margin: 2vh 2vw;
    text-align: center;
    background: #F6F4F3;
}

#start-button {
    height: 7vh;
    width: 30%;
    border-radius: 25px;
    font-size: 2em;
    padding: 0 5vw;
    margin: 2vh 2vw;
    text-align: center;
    color: #4D3B32;
    background: #D5BDA9;
    border: 1px solid #4D3B32;
}

/* this class hides the div once the user has clicked submit */
.hide-div {
    height: 0;
    width: 0;
    visibility: hidden;
}

/* main page */
#title {
    font-family: 'laila', sans-serif;
    font-size: 6em;
    color: #4D3B32;
    text-align: center;
    margin: 1vh 0;
}

/* section with difficulty selector  */
#select-difficulty-div label {
    font-size: 2em;
    color: #4D3B32;
    float: left;
}

#select-difficulty {
    font-size: 2em;
    color: #4D3B32;
    text-align: center;
    background: #D5BDA9;
    border-radius: 25px;
    margin-left: 2vw;
    padding: 7px;
    border: 2px solid #4D3B32;
    float: right;
}

#select-difficulty:hover {
    background: #4D3B32;
    color: #D5BDA9;
}

/* card playing area */
#game-container-outer {
    height: 50vh;
    background: #D5BDA9;
    border-radius: 25px;
    margin-top: 3vh;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 10vh);
    grid-template-rows: repeat(4, 10vh);
    grid-gap: 2vh;
    margin: 2vh;
    perspective: 600px;
}

.card {
    border: 2px solid #312C2D;
    border-radius: 10px;
    position: relative;
    background: #d5bda9;
    color: #312C2D;
    font-size: 6vh;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.cardBack,
.cardFront {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    /* To disable click on the child div and image of card div */
    /* https: //stackoverflow.com/questions/28083708/how-to-disable-clicking-inside-div */
    pointer-events: none;
}

.cardBack {
    background: #BA9D8C;
    backface-visibility: hidden;
    text-align: center;
}

.cardFront {
    background: #F6F4F3;
    padding: 5%;
}

.toggleCard {
    transform: rotateY(180deg);
}

.flipCard {
    pointer-events: none;
}

/* section with time countdown, restart button and number of flips counter */
#game-info {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    text-align: center;
    align-items: center;
    margin-top: 2vh;
}

#game-info h2 {
    font-size: 4em;
    color: #4D3B32;
}

#game-info button {
    height: 7vh;
    text-align: center;
    font-size: 2em;
    color: #4D3B32;
    background: #D5BDA9;
    border: 2px solid #4D3B32;
    margin: 2vh 0;
    border-radius: 25px;
}

/* sytling for audio button */
#audio-choice {
    position: absolute;
    top: 25vh;
    left: 20vw;
    height: 8vh;
    width: 8vh;
    background: #BA9D8C;
    border: 1px solid #312C2D;
    color: #312C2D;
    border-radius: 5px;
}

.fa-solid {
    height: 8vh;
    width: 8vh;
    font-size: 4vh;
    color: #4D3B32;
    text-align: center;
    /* to centre vertically */
    margin: 25% 0;
}

/* animation so the bear images wiggle when the user has matched them all */
.won-game-bears {
    animation: wiggle 1s infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* winning page / losing page to appear when the user has either matched all the cards or run out of time */
.end-game.hidden {
    height: 0%;
    width: 0%;
    visibility: hidden;
    opacity: 0;
}

#end-game-title {
    font-size: 5em;
    color: #4D3B32;
    text-align: center;
}

/* refreshes the document and takes the user back to the start of the game */
.end-game-show button {
    height: 10vh;
    width: 50%;
    text-align: center;
    font-size: 5vh;
    color: #4D3B32;
    background: #D5BDA9;
    border: 2px solid #4D3B32;
    margin: 5vh 25%;
    border-radius: 25px;
    pointer-events: all;
}

.end-game-hidden button {
    visibility: hidden;
    height: 0;
    width: 0;
}

/* To make the congratulations screen appear slowly */
.end-game-show {
    visibility: visible;
    height: 100%;
    width: 100%;
    font-size: 0.5rem;
    padding: 0px 15vw;
    position: absolute;
    top: 0;
    padding-top: 25vh;
    background: #F6F4F3;
    animation: end-grow 2s forwards;
}

@keyframes end-grow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* so all buttons type elements increase slightly on hover */
button:hover,
#how-to-play-title:hover,
#start-button:hover,
#restart-game:hover {
    transition: all .3s ease;
    background: #4D3B32;
    color: #D5BDA9;
    border: 1px solid #D5BDA9;
}

/* 404.html page */

#nav-error {
    height: auto;
    margin-top: 20vh;
}

#nav-error h2 {
    font-size: 500%;
    text-align: center;
    color: #4D3B32;
}

#nav-error p {
    color: #4D3B32;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

#nav-error-paragraph {
    font-size: 300%;
    margin-bottom: 50px;
}

#return-to-home-outer {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 8vh;
}

#return-to-home {
    height: 50px;
    width: 50%;
    border: 1px solid #4D3B32;
    border-radius: 999px;
    font-size: 100%;
    background-color: #D5BDA9;
    color: #4D3B32;
}

/* media queries */

/* for screens less than 1140px */
@media (max-width: 1140px) {
    #game-info h2 {
        font-size: 3em;
    }

    #start-game-div-id h1 {
        margin: 4vh 0;
    }
}

/* for screens less than 840px */
@media (max-width: 840px) {

    #start-game-div-id h1,
    #title {
        font-size: 4em;
    }

    #enter-name,
    #start-button,
    #game-info button {
        font-size: 1.5em;
    }

    #game-info h2 {
        font-size: 2em;
    }
}

/* for screens less than 600px */
@media (max-width: 600px) {
    #start-game-div-id h1 {
        font-size: 3em;
        margin-bottom: 2vh;
    }

    #title {
        font-size: 3em;
    }

    #how-to-play h2 {
        font-size: 1.5em;
    }

    #start-game-div-id>p {
        font-size: 2em;
    }

    .instructions-visable {
        font-size: 1em;
    }

    .howToPlayVisible {
        height: 40vh;
    }

    #enter-name,
    #start-button,
    #game-info button {
        font-size: 1em;
    }

    #select-difficulty,
    #select-difficulty-div label {
        font-size: 1.5em;
    }

    #game-info button {
        height: 5vh;
    }

    #game-container-outer {
        height: 38vh;
    }

    #game-container {
        grid-template-columns: repeat(4, 8vh);
        grid-template-rows: repeat(4, 8vh);
        grid-gap: 1.5vh;
        margin: 1.5vh;
    }

    .card {
        font-size: 6vh;
    }

    #game-info h2 {
        font-size: 1.5em;
    }
}

/* for screens less than 355px */
@media (max-width: 355px) {

    #start-game-div-id h1,
    #title {
        font-size: 2em;
    }

    #how-to-play h2 {
        font-size: 1em;
    }

    #enter-name {
        font-size: 0.8em;
        height: 5vh;
    }

    #start-button {
        font-size: 0.7em;
        height: 5vh;
    }

    #game-info button,
    .instructions-visable {
        font-size: 0.8em;
    }

    #start-game-div-id>p {
        font-size: 1.5em;
        margin: 0;
    }

    .instructions-visable {
        height: 70%;
    }

    #select-difficulty,
    #select-difficulty-div label {
        font-size: 1em;
    }

    #game-container-outer {
        height: 28vh;
    }

    #game-container {
        grid-template-columns: repeat(4, 6vh);
        grid-template-rows: repeat(4, 6vh);
        grid-gap: 1vh;
        margin: 1vh;
    }

    .card {
        font-size: 4vh;
    }

    #game-info h2 {
        font-size: 1em;
    }
}